install/md/applications/scheduller/cobis-notification-installer/src/main/resources/xsd/PagoCorresponsal.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PagoCorresponsal">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Pago">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="grupo_id" type="xs:unsignedByte" />
							<xs:element name="fecha_proceso" type="xs:dateTime" />
							<xs:element name="grupo_name" type="xs:string" />
							<xs:element name="fecha_liq" type="xs:dateTime" />
							<xs:element name="moneda" type="xs:unsignedByte" />
							<xs:element name="oficina" type="xs:string" />
							<xs:element name="fecha_vig" type="xs:dateTime" />
							<xs:element name="dividendo" type="xs:unsignedByte" />
							<xs:element name="monto" type="xs:decimal" />
							<xs:element name="institucion1" type="xs:string" />
							<xs:element name="referencia1" type="xs:string" />
							<xs:element name="institucion2" type="xs:string" />
							<xs:element name="referencia2" type="xs:string" />
							<xs:element name="institucion3" type="xs:string" />
							<xs:element name="referencia3" type="xs:string" />
							<xs:element name="institucion4" type="xs:string" />
							<xs:element name="referencia4" type="xs:string" />
							<xs:element name="dest_nombre1" type="xs:string" />
							<xs:element name="dest_cargo1" type="xs:string" />
							<xs:element name="dest_email1" type="xs:string" />
							<xs:element name="dest_nombre2" type="xs:string" />
							<xs:element name="dest_cargo2" type="xs:string" />
							<xs:element name="dest_email2" type="xs:string" />
							<xs:element name="dest_nombre3" type="xs:string" />
							<xs:element name="dest_cargo3" type="xs:string" />
							<xs:element name="dest_email3" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>