install/md/applications/scheduller/cobis-notification-installer/src/main/resources/xsd/RechazoLCR.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RechazoLCR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Tramite"  maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="nl_tramite"/>
              <xs:element type="xs:string" name="nl_fecha_reg"/>
              <xs:element type="xs:int" name="nl_cliente"/>
              <xs:element type="xs:string" name="nl_nombre"/>
              <xs:element type="xs:string" name="nl_apellido_paterno"/>
              <xs:element type="xs:string" name="nl_apellido_materno"/>
              <xs:element type="xs:string" name="nl_correo"/>
              <xs:element type="xs:string" name="nl_observaciones"/>
              <xs:element type="xs:string" name="nl_estado"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>