src/md/applications/scheduller/cloud-notification-service/src/main/resources/xsd/gruposvencidos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="grupos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="grupo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="gr_grupo" type="xs:unsignedByte" />
              <xs:element name="gr_nombre" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="gv_asesor_id" type="xs:unsignedByte" />
                    <xs:element name="gv_asesor_name" type="xs:string" />
                    <xs:element name="gv_coord_id" type="xs:unsignedByte" />
                    <xs:element name="gv_coord_name" type="xs:string" />
                    <xs:element name="gv_coord_email" type="xs:string" />
                    <xs:element name="gv_gerente_id" type="xs:unsignedByte" />
                    <xs:element name="gv_gerente_name" type="xs:string" />
                    <xs:element name="gv_gerente_email" />
                    <xs:element name="gv_referencia" type="xs:unsignedLong" />
                    <xs:element name="gv_vencido_desde" type="xs:unsignedByte" />
                    <xs:element name="gv_vencido_hasta" type="xs:unsignedByte" />
                    <xs:element name="gv_cuotas_vencidas" type="xs:unsignedByte" />
                    <xs:element name="gv_saldo_exigible" type="xs:decimal" />
                    <xs:element name="gv_cuota_actual" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>