src/md/applications/scheduller/cloud-notification-service/src/main/resources/xsd/IncumplimientoAval.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="IncumplimientoAvalista">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Incumplimiento">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fecha" type="xs:dateTime" />
							<xs:element name="tramite" type="xs:unsignedShort" />
							<xs:element name="operacion" type="xs:unsignedLong" />
							<xs:element name="dividendo" type="xs:unsignedByte" />
							<xs:element name="fecha_ven" type="xs:dateTime" />
							<xs:element name="simbolo" type="xs:string" />
							<xs:element name="monto_deuda" type="xs:decimal" />
							<xs:element name="nombre_oficial" type="xs:string" />
							<xs:element name="cargo_oficial" type="xs:string" />
							<xs:element name="nombre_oficina" type="xs:string" />
							<xs:element name="direccion_oficina" type="xs:string" />
							<xs:element name="ciudad_oficina" type="xs:string" />
							<xs:element name="garante" type="xs:unsignedShort" />
							<xs:element name="nombre_garante" type="xs:string" />
							<xs:element name="mail_garante" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>