src/md/applications/scheduller/cloud-notification-service/src/main/resources/xsd/notificaciongeneral.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NotificacionesGenerales">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Grupo" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ng_mensaje"/>
              <xs:element type="xs:string" name="ng_correo"/>
              <xs:element type="xs:string" name="ng_asunto"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>