src/md/applications/scheduller/cloud-notification-service/src/main/resources/xsd/Traspasos.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Traspasos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Solicitud" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="codigo"/>
              <xs:element type="xs:string" name="solicitud"/>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:string" name="entes"/>
              <xs:element type="xs:string" name="es_grupo"/>
              <xs:element type="xs:string" name="razon_rechazo"/>
              <xs:element type="xs:string" name="oficial_niega"/>
              <xs:element type="xs:string" name="correo"/>
              <xs:element type="xs:string" name="fecha"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>